*.nsys-rep
./cse599/*
trace.json
*.out
*.ncu-rep
*_demo/
*Demo/
*demo*/
*Answer*/

assignment*/cmake_install.cmake
assignment*/CMakeFiles
assignment*/CMakeCache.txt
assignment*/_deps
assignment*/Makefile

assignment1/copy
assignment1/host_GPU/copy_first_column.cu
assignment1/rms_norm/vector/cmake_install.cmake
assignment1/rms_norm/vector/CMakeCache.txt
assignment1/rms_norm/vector/CMakeFiles/cmake.check_cache
assignment1/rms_norm/vector/CMakeFiles/CMakeConfigureLog.yaml
assignment1/rms_norm/vector/CMakeFiles/CMakeDirectoryInformation.cmake
assignment1/rms_norm/vector/CMakeFiles/Makefile.cmake
assignment1/rms_norm/vector/CMakeFiles/Makefile2
assignment1/rms_norm/vector/CMakeFiles/progress.marks
assignment1/rms_norm/vector/CMakeFiles/TargetDirectories.txt
assignment1/rms_norm/vector/CMakeFiles/3.31.4/CMakeCUDACompiler.cmake
assignment1/rms_norm/vector/CMakeFiles/3.31.4/CMakeCXXCompiler.cmake
assignment1/rms_norm/vector/CMakeFiles/3.31.4/CMakeDetermineCompilerABI_CUDA.bin
assignment1/rms_norm/vector/CMakeFiles/3.31.4/CMakeDetermineCompilerABI_CXX.bin
assignment1/rms_norm/vector/CMakeFiles/3.31.4/CMakeSystem.cmake
assignment1/rms_norm/vector/CMakeFiles/3.31.4/CompilerIdCUDA/tmp/a_dlink.fatbin
assignment1/rms_norm/vector/CMakeFiles/3.31.4/CompilerIdCUDA/tmp/a_dlink.o
assignment1/rms_norm/vector/CMakeFiles/3.31.4/CompilerIdCUDA/tmp/a_dlink.fatbin.c
assignment1/rms_norm/vector/CMakeFiles/3.31.4/CompilerIdCUDA/CMakeCUDACompilerId.cu
assignment1/rms_norm/vector/CMakeFiles/3.31.4/CompilerIdCUDA/tmp/a_dlink.reg.c
assignment1/rms_norm/vector/CMakeFiles/3.31.4/CompilerIdCUDA/tmp/a_dlink.sm_52.cubin
assignment1/rms_norm/vector/CMakeFiles/3.31.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cpp1.ii
assignment1/rms_norm/vector/CMakeFiles/3.31.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cpp4.ii
assignment1/rms_norm/vector/CMakeFiles/3.31.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.c
assignment1/rms_norm/vector/CMakeFiles/3.31.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.cpp
assignment1/rms_norm/vector/CMakeFiles/3.31.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.gpu
assignment1/rms_norm/vector/CMakeFiles/3.31.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.stub.c
assignment1/rms_norm/vector/CMakeFiles/3.31.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.fatbin
assignment1/rms_norm/vector/CMakeFiles/3.31.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.fatbin.c
assignment1/rms_norm/vector/CMakeFiles/3.31.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.module_id
assignment1/rms_norm/vector/CMakeFiles/3.31.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.o
assignment1/rms_norm/vector/CMakeFiles/3.31.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.ptx
assignment1/rms_norm/vector/CMakeFiles/3.31.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.sm_52.cubin
assignment1/rms_norm/vector/CMakeFiles/3.31.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
assignment1/rms_norm/vector/CMakeFiles/rms_norm_vector.dir/build.make
assignment1/rms_norm/vector/CMakeFiles/rms_norm_vector.dir/cmake_clean.cmake
assignment1/rms_norm/vector/CMakeFiles/rms_norm_vector.dir/compiler_depend.make
assignment1/rms_norm/vector/CMakeFiles/rms_norm_vector.dir/compiler_depend.ts
assignment1/rms_norm/vector/CMakeFiles/rms_norm_vector.dir/depend.make
assignment1/rms_norm/vector/CMakeFiles/rms_norm_vector.dir/DependInfo.cmake
assignment1/rms_norm/vector/CMakeFiles/rms_norm_vector.dir/flags.make
assignment1/rms_norm/vector/CMakeFiles/rms_norm_vector.dir/link.txt
assignment1/rms_norm/vector/CMakeFiles/rms_norm_vector.dir/linkLibs.rsp
assignment1/rms_norm/vector/CMakeFiles/rms_norm_vector.dir/main.cu.o
assignment1/rms_norm/vector/CMakeFiles/rms_norm_vector.dir/main.cu.o.d
assignment1/rms_norm/vector/CMakeFiles/rms_norm_vector.dir/objects1.rsp
assignment1/rms_norm/vector/CMakeFiles/rms_norm_vector.dir/progress.make
assignment1/rms_norm/vector/CMakeFiles/rms_norm_vector.dir/rms_norm_vector.cu.o
assignment1/rms_norm/vector/CMakeFiles/rms_norm_vector.dir/rms_norm_vector.cu.o.d
assignment1/rms_norm/vector/rms_norm_vector
