*.nsys-rep
./cse599/*
trace.json
*.out
*.ncu-rep
*_demo/
*Demo/
*demo*/
*Answer*/

assignment*/cmake_install.cmake
assignment*/CMakeFiles
assignment*/CMakeCache.txt
assignment*/_deps
assignment*/Makefile
